@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", sans-serif;
}

/* Header Styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
    max-width: 73.125rem;
}

nav ul, nav div{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 2.75rem;
    font-size: 1.125rem;
    font-weight: 400;
}

nav li a{
    text-decoration: none;
    color: #424247;
}

.site-logo{
    margin-right: 1.04rem;
    width: 3.5rem;
    height: 3.5rem;
}

.site-title{
    color: #131318;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
}

.title-style{
    color: #FF5400;
}

.orange-style{
    color: #FF5400;
    font-weight: 700;
}

/* Banner Styles */

.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
    url('../resources/Group\ 13\ \(1\)\ \(1\).png');
    width: 73.125rem;
    height: 31.25rem;
    border-radius: 1rem;
    margin: auto;
}

.banner-content{
    max-width: 50rem;
    text-align: center;
    margin: auto;
    padding-top: 6.62rem;
}

.banner-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.banner-description{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    width: 42.25rem;
    margin-bottom: 3rem;
    position: relative;
    left: 4rem;
}

.inputs{
    border: 1rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);
    padding: 1rem;
    display: inline-flex;
    align-items: flex-start;
    gap: .3rem;
}

.inputs input{
    width: 10.875rem;
    height: 3.25rem;
    border: 0;
    border-radius: 0.5rem;
    background: #FFF;
}

.inputs button{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border: 0;
    border-radius: 0.5rem;
    background: #FF5400;
    width: 10.875rem;
    height: 3.25rem;
}

.inputs > input{
    margin-right: 1.3rem;
}

.inputs input[type=text]{
    color: rgba(19, 19, 24, 0.50);
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.dropdown{
    display: flex;
}

.dropdown select{
    border: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    height: 3rem;
    position: relative;
    top: 3px;
    right: 35px;

}

/* Popular Tours Section */

.tour-section{
    display: flex;
    margin: auto;
    margin-top: 6.25rem;
    max-width: 73.125rem;
}

.tour-section-container{
    max-width: 36rem;
}

.tour-section-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
}

.tour-section-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.tour-section-list{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    line-height: 1.625rem;
}

.tour-section-paragraph{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.orange-btn{
    width: 10.875rem;
    height: 3.25rem;
    border: 0;
    border-radius: 0.5rem;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
}

.tour-section-img{
    padding-left: 3.31rem;
}


/* Choose Destination Section */

.dest-section{
    margin: auto;
}

.dest-section-title{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 6.25rem;
    margin-bottom: 1.5rem;
}

.dest-section-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    max-width: 40.1875rem;
    margin: auto;
    margin-bottom: 3rem;
}

.dest-section-img{
    max-width: 73.125rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: auto;
}

/* .img-texts{
    color: #cc0c0c;
    font-size: 28px;
    font-weight: 800;
    display: flex;
}

.Maldives{
    position: relative;
    left: 30%;
    bottom: 52rem;
} */



/* Why Choose Us Section */

.why-choose-title{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 6.25rem;
    margin-bottom: 1.5rem;
}

.why-choose-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    max-width: 40.1875rem;
    margin: auto;
    margin-bottom: 3rem;
}

.card-row-1{
    display: flex;
    gap: 1.5rem;
    max-width: 78rem;
    margin: auto;
}

.card-img{
    width: 4rem;
    height: 4rem;
    margin-top: 2rem;
}

.card-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.card-description{
    max-width: 30.375rem;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.card-1{
    width: 35.8125rem;
    height: 17.75rem;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    align-items: center;
    text-align: left;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
}

.card-2{
    width: 35.8125rem;
    height: 17.75rem;
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    align-items: center;
    text-align: left;
    padding-left: 2rem;
}

.card-3{
    max-width: 35.8125rem;
    height: 17.75rem;
    border-radius: 1rem;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    align-items: center;
    text-align: left;
    padding-left: 2rem;
    margin: auto;
}


/* Deals and Discounts Section */

.deals-title{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 6.25rem;
}

.deals-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    max-width: 40.1875rem;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.deal-1{
    background-image: url('../resources/Group\ 39.png');
    width: 73.125rem;
    height: 31.25rem;
    margin: auto;
    margin-bottom: 1.5rem;
}

.deal-card{
    width: 32rem;
    height: 20rem;
    border-radius: 1rem;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding-left: 2rem;
    padding-top: 2.5rem;
    position: relative;
    left: 33.44rem;
    top: 3.5rem;
}

.deal-texts{
    padding-left: 1.8rem;
}

.deal-nav{
    display: flex;
    gap: 0.5rem;
}

.deal-nav img{
    padding-left: 1.5rem;
}

.deal-nav p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.card-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
}

.card-description{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    max-width: 28.25rem;
}

.card-price{
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#deal-orange-btn{
    margin-left: 1.8rem;
}


.deal-2{
    background-image: url('../resources/Group\ 40.png');
    width: 73.125rem;
    height: 31.25rem;
    margin: auto;
    margin-bottom: 1.5rem;
}

.deal-2 .deal-card{
    position: relative;
    left: 3.5rem;
    top: 3.5rem;
}

.deal-3{
    background-image: url('../resources/Group\ 39.png');
    width: 73.125rem;
    height: 31.25rem;
    margin: auto;
    margin-bottom: 1.5rem;
}

.see-package-btn{
    border: 0;
    width: 13.125rem;
    height: 3.25rem;
    margin-left: 10rem;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 3rem;
    margin-left: 45%;
}

/* Get Lost section */

.get-section-texts{
    max-width: 33.25rem;
}

.get-section-texts h3{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.75rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.get-section-texts p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-bottom: 1.5rem;
}

.get-section-texts ul{
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625rem;
    margin-bottom: 1rem;
}

.get-lost-section{
    display: flex;
    gap: 1.75rem;
    max-width: 74rem;
    margin: auto;
    margin-top: 6.25rem;
}

#get-sec-btn{
    margin-top: 2rem;
}

.get-img-txt{
    max-width: 17.25rem;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
    position: relative;
    bottom: 17rem;
    left: 30%;
}


/* Newsletter Section */

.column-1{
    border-radius: 1rem;
    border: 1px solid #FF5400;
    width: 29.625rem;
    height: 26.375rem;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
}

.column-1 h3{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.column-1 p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    max-width: 21.875rem;
    margin-bottom: 1.5rem;
}

.column-1 hr{
    margin-bottom: 1.5rem;
    width: 24.5625rem;
    height: 0;
    margin-left: 0;
}

.column-1 input{
    border: 0px;
    width: 24.5625rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 1rem;
}

.column-1 input[type=text], input[type=email]{
    padding-left: 1.25rem;
    color: rgba(19, 19, 24, 0.30);
    font-size: 1rem;
    font-weight: 400;
}

.sub-btn{
    margin-top: 1.5rem;
    border: 0;
    border-radius: 0.5rem;
    background: #FF5400;
    width: 24.5625rem;
    height: 3.25rem;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
}

.newsletter-section{
    display: flex;
    gap: 1.5rem;
    max-width: 74rem;
    margin: auto;
}

.column-2 img{
    width: 42rem;
    height: 29rem;
}

.discount-btn{
    border: 0;
    border-radius: 1rem;
    background: #FF5400;
    width: 20.25rem;
    height: 7.5rem;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    bottom: 10.7rem;
    left: 21.3rem;
}

.save{
    font-size: 2rem;
    font-weight: 800;
}

/* footer */
.footer{
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 31.375rem;
}

.footer-container{
    max-width: 54.5rem;
    margin: auto;
    align-items: center;
    text-align: center;
    padding-top: 6.8rem;
}

.footer-title{
    display: flex;
    padding-left: 35%;
    margin-bottom: 1rem;
}

#footer-logo-title{
    margin-top: 0.3rem;
}

.footer-description{
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    max-width: 48.0625rem;
    margin-bottom: 2rem;
}

.social-links{
    margin-bottom: 3.12rem;
}

.footer-container hr{
    margin-bottom: 3.12rem;
}









/* Responsive Media Queries */

@media screen and (max-width: 600px) {  
 
/* header */
    
    .site-title{
        font-size: 1.34644rem;
    }
    
    .site-logo{
        margin-right: 0.63rem;
    }
    
    nav{
        max-width: 20.93rem;
        margin-bottom: 1rem;
        background-image: url('../resources/Frame.svg');
        background-repeat: no-repeat;
        background-position: right;
        position: relative;
        right: auto;
    }
    
    ul li{
        display: none;
    }

    ul li{
        background-image: url('../resources/Frame.svg');
    }

    .banner{
        width: 20.9375rem;
        background-position: center
    }

    .banner-content{
        padding-top: 2rem;
    }

    .banner-title{
        font-size: 1.375rem;
        margin-bottom: 0.5rem;
    }

    .banner-description{
        font-size: 0.875rem;
        max-width: 19rem;
        position: relative;
        left: 0.5rem;
        margin-bottom: 2rem;
    }

    .inputs{
        flex-direction: column;
        gap: 1rem;
        padding-top: 1.2rem;
        padding-left: 1.2rem;
        padding-bottom: 1.2rem;
        padding-right: 0;
    }

/* Popular Tours Section */
    .tour-section{
        flex-direction: column;
        margin: auto;
        margin-top: 1.5rem;
        max-width: 20.93rem;
    }

    .tour-section-title{
        font-size: 1.25rem;
    }

    .tour-section-description{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .tour-section-img{
        padding-left: 0;
    }

    .tour-section-img img{
        width: 20.9375rem;
        height: 21.375rem;
        margin-top: 1.5rem;
    }

    /* Choose Destination Section */
    .dest-section-title{
        font-size: 1.25rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    .dest-section-description{
        font-size: 0.875rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
        max-width: 19.3rem;
    }

    .dest-section-img{
        flex-direction: column;
        gap: 1rem;
        max-width: 20.94rem;

    }

    .dest-section-img img {
        width: 20.9375rem;
        height: 11rem;
    }

    /* Why Choose Us Section */

    .why-choose-title{
        font-size: 1.25rem;
        margin-top: 1.5rem;
    }

    .why-choose-description{
        font-size: 0.875rem;
        line-height: 1.5rem;
        max-width: 19.3125rem;
        margin-bottom: 1rem;
    }

    .card-img{
        width: 3rem;
        height: 3rem;
    }

    .card-title{
        font-size: 1.25rem;
    }

    .card-description{
        font-size: 0.875rem;
        line-height: 1.5rem;
        max-width: 16.9375rem;
    }

    .card-1, .card-2, .card-3{
        max-width: 20.9375rem;
        margin: auto;
        /* height: 18.0625rem; */
    }

    .card-row-1{
        flex-direction: column;
    }

    .card-1{
        margin: 0;
        max-width: 20.9375rem;
        margin: auto;
    }

    .card-2{
        margin-bottom: 1.5rem;
    }

    /* deal & discount */

    .deals-title{
        font-size: 1.25rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }

    .deals-description{
        font-size: 0.875rem;
        line-height: 1.5rem;
        max-width: 19.3125rem;;
    }

    .deal-1, .deal-2, .deal-3{
        width: 20.9375rem;
        height: 31.25rem;
        margin: auto;
        margin-bottom: 1rem;
        background-position: center;
        border-radius: 1rem;
    }

    .deal-card{
        width: 17.8rem;
        height: 22rem;
        position: relative;
        left: 1.4rem;
        top: 8rem;
        padding: 0;

    }

    .deal-2 .deal-card{
        width: 17.8rem;
        height: 22rem;
        position: relative;
        left: 1.4rem;
        top: 8rem;
        padding: 0;
    }

    .deal-nav{
        flex-wrap: wrap;
        padding-right: 2rem;
        gap: 2px;
        /* flex-direction: column; */
    }

    .deal-nav img{
        padding: 0;
        max-width: 1.5rem;
        max-height: 1.5rem;
        position: relative;
        top: 1.2rem;
    }

    .deal-texts{
        padding-left: .8rem;
    }

    .card-price{
        padding-left: 1.2rem;
        margin-top: 0.25rem;
        margin-bottom: .5rem;
    }

    .orange-btn{
        padding-left: 1.8rem;
    }

    .see-package-btn{
        margin-left: 23%;
    }

    /* Get Lost Section */

    .get-lost-section{
        flex-direction: column;
        padding-left: 1.7rem;
        margin-top: 1.5rem;
    }

    .get-section-texts h3{
        max-width: 15.5rem;
        font-size: 1.25rem;
        line-height: 1.875rem;
        margin-top: 1.5rem;
    }

    .get-lost-section p{
        max-width: 20.9375rem;
        font-size: 0.875rem;
        line-height: 1.5rem;
        padding-bottom: 0;
    }

    #get-sec-btn{
        margin-top: 1.5px;
        padding-right: 1.2rem;
    }

    .get-section-image img{
        width: 20.9375rem;
        height: 12.5rem;
    }

    .get-img-txt{
        position: relative;
        bottom: 8.5rem;
        left: 0;
        font-size: 1.25rem;
        max-width: 17.25rem;
        line-height: 1.875rem;
    }

    /* newsletter */

    .newsletter-section{
        flex-direction: column;
    }

    .column-1{
        margin-left: 1.8rem;
        width: 18.5rem;
        padding-left: 2rem;
    }

    .column-1 p{
        max-width: 16.875rem;
    }

    .column-1 hr{
        width: 16.5rem;
    }

    .column-1 input{
        max-width: 15.5rem;
    }

    .sub-btn{
        width: 16.5rem;
    }

    .column-2 img{
        width: 20.9375rem;
        height: 18.75rem;
        padding-left: 1.8rem;
    }
    
    .discount-btn{
        width: 13.37644rem;
        height: 4.95425rem;
        font-size: 0.99088rem;
        position: relative;
        bottom: 7rem;
        left: 9.2rem;
    }

    .save{
        font-size: 1.32113rem;
    }

    /* footer */
    .footer{
        height: 25rem;
    }

    .footer-container{
        padding-top: 2.8rem;
    }

    .footer-title{
        padding-left: 28%;
    }

    #footer-logo-title{
        margin-top: 1rem;
    }

    .footer-description{
        max-width: 17.9375rem;
        padding-left: 4rem;
        text-align: left;
    }

    .social-links{
        margin-bottom: 1rem;
    }

    .footer-container hr{
        max-width: 20rem;
        margin-bottom: 1.5rem;
    }
}